
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
    scroll-behavior: smooth;
    
  }
  html,body{
    height: 100%;
    width: 100%;
  }
  
  #nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    backdrop-filter: blur(3px);
    top: 36px;
  }
  
  
  
  #nav>img {
    width: 7%;
    padding: 2px;
  
}
  
  
  
  
  #center-nav>a {
    position: relative;
    min-width: 100px;
      text-decoration: none;
      color: #000;
      font-size: 12px;
      padding: 30px;
      font-family: Arial, Helvetica, sans-serif
     
      
  
  }
  
  @media (max-width: 768px) {
    #center-nav>a {
      font-size: 12px;
      padding: 0px;
     
    }
  }
  
  
  @media (max-width: 480px) {
    #center-nav>a {
      font-size: 12px;
      padding: 0px;
    }
  }
  
  #center-nav>a:hover{
    color: blue;
    text-decoration: underline pink;
  }


#nav .butt {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.4em 2em;
    border: rgb(0, 0, 0) solid 0.15em;
    border-radius: 0.25em;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
   
  }
  
  #nav .butt p {
    z-index: 1;
  }
  
  #nav .butt:hover {
    color: #b20000;
  }
  
  #nav .butt:active {
    border-color: rgb(18, 196, 196);
  }
  
  #nav .butt::after, .butt::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: rgb(0, 0, 0);
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
  }
  
  #nav .butt::before {
    left: 0;
    transform: translateX(-8em);
  }
  
  #nav .butt::after {
    right: 0;
    transform: translateX(8em);
  }
  
  #nav .butt:hover:before {
    transform: translateX(-1em);
  }
  
  #nav .butt:hover:after {
    transform: translateX(1em);
  }
  
  #nav .butt:active:before,
  #nav .butt:active:after {
    background: rgb(95, 255, 255);
  
  }
  
  
  #tooltip > img{
  width: 50px;
    padding: 10px 10px;
    margin-top: -7px;
    margin-left:2px ;
  }
  
  
  #tooltip{
    position: relative;
    cursor: pointer;
    font-size: 25px;
    top: 10px;
    left: 48%;
    margin-left: -60px;
  
  }
  
  #tooltipText{
    position: absolute;
    transform: translateX(5%);
    background-color: #000000;
    color: #ffffff;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    top: 10%;
    font-size: 17px;
    font-weight: 200;
    border-radius: 5px;
    z-index: 0;
  }
  
  #tooltipText::before{
    content: "";
    position: absolute;
    left: 50%;
    border-radius: 20px;
    border-color: #0000 #0000 #0000 #0000;
  }
  
  
  #tooltip:hover #tooltipText{
    visibility: visible;
    opacity: 1;
  }

  .container {
    left: 50%;
    margin: auto -50px;
    position: absolute;
    top: 50%;
  }
  
  .swing div {
    border-radius: 50%;
    float: left;
    height: 1em;
    width: 1em;
  }
  
  .swing div:nth-of-type(1) {
    background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
    background: linear-gradient(to right, #385c78 0%, #325774 100%);
  }
  
  .swing div:nth-of-type(2) {
    background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
    background: linear-gradient(to right, #325774 0%, #47536a 100%);
  }
  
  .swing div:nth-of-type(3) {
    background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
    background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
  }
  
  .swing div:nth-of-type(4) {
    background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
    background: linear-gradient(to right, #744c55 0%, #954646 100%);
  }
  
  .swing div:nth-of-type(5) {
    background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
    background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
  }
  
  .swing div:nth-of-type(6) {
    background: -webkit-linear-gradient(left, #c33f31 0%, #d83b27 100%);
    background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
  }
  
  .swing div:nth-of-type(7) {
    background: -webkit-linear-gradient(left, #da3b26 0%, #db412c 100%);
    background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
  }
  
  .shadow {
    clear: left;
    padding-top: 1.5em;
  }
  
  .shadow div {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    float: left;
    width: 1em;
    height: .25em;
    border-radius: 50%;
    background: #e3dbd2;
  }
  
  .shadow .shadow-l {
    background: #d5d8d6;
  }
  
  .shadow .shadow-r {
    background: #eed3ca;
  }
  
  @-webkit-keyframes ball-l53 {
    0%, 50% {
      -webkit-transform: rotate(0) translateX(0);
      transform: rotate(0) translateX(0);
    }
  
    100% {
      -webkit-transform: rotate(50deg) translateX(-2.5em);
      transform: rotate(50deg) translateX(-2.5em);
    }
  }
  
  @keyframes ball-l53 {
    0%, 50% {
      -webkit-transform: rotate(0) translate(0);
      transform: rotate(0) translateX(0);
    }
  
    100% {
      -webkit-transform: rotate(50deg) translateX(-2.5em);
      transform: rotate(50deg) translateX(-2.5em);
    }
  }
  
  @-webkit-keyframes ball-r53 {
    0% {
      -webkit-transform: rotate(-50deg) translateX(2.5em);
      transform: rotate(-50deg) translateX(2.5em);
    }
  
    50%,
    100% {
      -webkit-transform: rotate(0) translateX(0);
      transform: rotate(0) translateX(0);
    }
  }
  
  @keyframes ball-r53 {
    0% {
      -webkit-transform: rotate(-50deg) translateX(2.5em);
      transform: rotate(-50deg) translateX(2.5em);
    }
  
    50%,
    100% {
      -webkit-transform: rotate(0) translateX(0);
      transform: rotate(0) translateX(0)
    }
  }
  
  @-webkit-keyframes shadow-l-n53 {
    0%, 50% {
      opacity: .5;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    100% {
      opacity: .125;
      -webkit-transform: translateX(-1.57em);
      transform: translateX(-1.75em);
    }
  }
  
  @keyframes shadow-l-n53 {
    0%, 50% {
      opacity: .5;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    100% {
      opacity: .125;
      -webkit-transform: translateX(-1.75);
      transform: translateX(-1.75em);
    }
  }
  
  @-webkit-keyframes shadow-r-n53 {
    0% {
      opacity: .125;
      -webkit-transform: translateX(1.75em);
      transform: translateX(1.75em);
    }
  
    50%,
    100% {
      opacity: .5;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes shadow-r-n53 {
    0% {
      opacity: .125;
      -webkit-transform: translateX(1.75em);
      transform: translateX(1.75em);
    }
  
    50%,
    100% {
      opacity: .5;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .swing-l {
    -webkit-animation: ball-l53 .425s ease-in-out infinite alternate;
    animation: ball-l53 .425s ease-in-out infinite alternate;
  }
  
  .swing-r {
    -webkit-animation: ball-r53 .425s ease-in-out infinite alternate;
    animation: ball-r53 .425s ease-in-out infinite alternate;
  }
  
  .shadow-l {
    -webkit-animation: shadow-l-n53 .425s ease-in-out infinite alternate;
    animation: shadow-l-n53 .425s ease-in-out infinite alternate;
  }
  
  .shadow-r {
    -webkit-animation: shadow-r-n53 .425s ease-in-out infinite alternate;
    animation: shadow-r-n53 .425s ease-in-out infinite alternate;
  }

  .p1{
    background-color: #FFC727;
    margin-top: 36px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 100;
  }

  .p2{
    background-color: #dddcdc;
    margin-top: -15px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 100;
    margin-left: 651px;
  }
  
  .p2 a{
    color: black;
    text-decoration: none;
  }

  .p2 a:hover{
    color: rgb(147, 126, 6);
  }
  .p3{
    background-color: #efefef;
    margin-top: -45px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;}

    .p3 h2{
        margin-top: 70px;
        font-size: 40px;
        font-weight: 100;
        }
        
        
        .p3 p{
          margin-top:17px;
          font-weight: 100;
          width: 580px;
          }

          .p3 h5{
            font-size: 20px;
            margin-top:17px;
            font-weight: 100;
            width: 500px;
        
            }

            .p4{
                background-color: #ffffff;
                height: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;}


                .p4 h3{
      
                    width: 350px;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 50px;
                    font-weight: 100;
                    
                  }
              
                  

                      
  #p6{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: rgb(245, 245, 245);
   height: 500px;
   color:  #FFC727;
  }
  
  #p6 h6{
    background-color:rgb(29, 32, 33);
    color: #FFC727;
    width: 110px;
    text-align: center;
    height: 15px;
    padding: 1px;
    border-radius: 20px;
    font-size: 10px;
    margin-top: -50px;
  
  }
  
  #p6 h1{
    font-weight: 100;
    margin-top: 10px;
    color: #000;
  
  }
  
  .card-client {
    background: #000000;
    width: 13rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
   
    box-shadow: 0 6px 10px rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
    
  }
  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid  #FFC727;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .user-picture svg {
    width: 2.5rem;
    fill: currentColor;
  }
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background:  #FFC727;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }


  #p8{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: rgb(355, 327, 117);
    height: 270px;
  }
  
  #p8 .logos{
    display: flex;
    gap: 100px;
    
  }
  
  #p8 .logos img{
    width: 55px;
    height: 50px;
    margin-top: 30px;
  }
  
  #p8 h6{
    background-color:  #211800;
    color:  #FFC727;
    width: 130px;
    text-align: center;
    height: 15px;
    padding: 1px;
    border-radius: 20px;
    font-size: 10px;
    margin-top: -20px;
  
  }
  
  #p8 h1{
    font-weight: 100;
    margin-top: 10px;
  
  }
  
  #p9{
    background-color: goldenrod;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    color: #ffffff;
    
  
  }
  
  #p9 p{
    font-size: 15px;
    margin-top: 20px;
  }
  
  #p9 a{
    text-decoration: none;
    color:rgb(255, 255, 255);
  }
  
  #p9 a:hover{
    color: #000000;
  }
  
  #p9 .links{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 20px;
    
  }
  
  #p9 .links2{
    display: flex;
    gap: 20px;
    font-size: 15px;
    margin-top: 20px;
   
  }
  
  #p9 .linka{
    display: flex;
    flex-direction: column;
   
  }
  
  #p9 .linkb{
    display: flex;
    flex-direction: column;
   
  }

  #p9 .but {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff;
    transition: 0.5s ease;
    user-select: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #p9 .but:hover{
    color: #000000;
    background: #ffffff;
    border: 1px solid #ffffff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #ffffff,
                0 0 20px #ffffff,
                0 0 50px #ffffff,
                0 0 100px #ffffff;
  }
  
  #footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    border-top:  solid black;
    font-size: 15px;
  }
  

  .p5{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    height: 600px;
    
  }

  .card {
    width: 800px;
    height: 400px;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    overflow: visible;
  }
  
  .card .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .item:hover {
    transform: scale(1.95);
    transition: all 1s ease-in-out;
    rotate: 360deg;
  }
  
  .item svg {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
  }
  
  .item--1 {
    background: #FFC727;
  }
  
  .item--2 {
    background: #455A64;
  }
  
  .item--3 {
    background: #455A64;
  }
  
  .item--4 {
    background: #FFC727;
  }
  
  .quantity {
    font-size: 25px;
    font-weight: 600;
  }
  
  .text {
    font-size: 12px;
    font-family: inherit;
    font-weight: 600;
    text-align: center;
  }
  
  .text--1 {
    color: rgb(251, 251, 255);
  }
  
  .text--2 {
    color: rgb(255, 255, 255);
  }
  
  .text--3 {
    color: rgb(255, 255, 255);
  }
  
  .text--4 {
    color: rgb(255, 255, 255);
  }

  .p7{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 550px;
    
    
  }

  .p7 h6{
    background-color:rgb(29, 32, 33);
    color: #FFC727;
    width: 110px;
    text-align: center;
    height: 15px;
    padding: 1px;
    border-radius: 20px;
    font-size: 10px;
    margin-top: 50px;
    font-weight: 100;
  
  }

  .p7 h1{
    font-weight: 100;
    margin-top: 10px;
  }

  .p71 p{
    font-weight: 100;
    margin-top: 20px;
  }

  .line{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-bottom: none;
   
    margin-left: 100px;
   
  }

  .p72 h3{
    font-weight: 100;
    margin-top: 40px;
   
  }


  .p72 p{
    font-weight: 100;
    margin-top: 20px;
    width: 500px;
  }



  .p7 button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #f9dd04;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
  }
  
 .p7  button:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(6, 11, 9, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
 .p7  button:active {
    transform: translateY(-1px);
  }

  .scroll-1::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .scroll-1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
  }
  
  
  .p7a{
    background-color:goldenrod;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .p7b h6{
    background-color:rgb(29, 32, 33);
    color: #FFC727;
    width: 110px;
    text-align: center;
    height: 15px;
    padding: 1px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 100;
  
  }

  .p7b h1{
    font-weight: 100;
    margin-top: 10px;
  }


  .p7a .contain {
    display: flex;
    
    overflow-x: scroll;
    padding: 24px;
    width: 900px;
    scroll-snap-type: x mandatory;
    scroll-padding-top: 24px;
    border-radius: 8px;
    gap: 20px;
  }
  
  .p7a .contain .card {
    flex: 0 0 100%;
    overflow: hidden;
    border-radius: 8px;
    background-color: #ffffff;
    scroll-snap-align: start;
  }
  
  .p7a .card  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    flex-direction: column;
    height: 440px;
  }
  
 
  
 
  
  .p7a .card .card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  
  .p7a .card .card__content .card__title {
    text-align: center;
    font-size: 32px;
    color: #000000;
    text-transform: capitalize;
  }
  
  .p7a .card .card__content .card__describe {
    color: rgb(48, 34, 1);
    font-size: 16px;
    text-align: center;
  }